<section id="trend-page">
	<h1 class="center">Índice de corrientes arquitectónicas</h1>
	<h3 class="center">¿Crees que falta alguna?</h3>
	{{#if user}}
	<a class="my-button main filled" href="/trend/new">Añadir corriente</a>
	{{/if}}

	{{#unless user}}
	<a class="my-button main disabled" href="/login">Añadir</a>
	<small>Para poder añadir, es necesario iniciar sesión.</small>
	{{/unless}}

	<div class="row" id="all-cards">
		{{#each atFound}}
		<div class="card-dsg">

			<figure class="card-img">
				<img src="{{picTrend}}" alt="{{name}}">
			</figure>

			<div class="card-text">
				<h5 class="center">{{name}}</h5>
				<small><em>{{country}}</em></small>
				<a class="my-button card filled" href="/trend/show/{{_id}}">Ver detalles</a>
			</div>

		</div>
		{{/each}}
	</div>

</section>