<section class="form-page">
    <h2>Editar {{works.name}}</h2>

    <form class="complex-form" action="/works/edit/{{works.id}}" method="POST" enctype="multipart/form-data">
        <div class="row justify-content-center">
            <div class="col-md-5">

                <label for="name">Nombre de la obra</label>
                <input name="name" type="text" class="form-control" id="name" value="{{works.name}}">


                <label for="trend-arch">Corriente Arquitectónica</label>
                <select class="custom-select" id="trend-arch" name="trend">
                    <option selected value="{{works.trend.id}}">{{works.trend.name}}</option>
                    {{#each trends}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>


                <label for="work">Tipo de Obra</label>
                <select class="custom-select" id="work" name="workType">
                    <option selected>{{works.workType}}</option>
                    <option>Parque</option>
                    <option>Espacio Público</option>
                    <option>Vivienda</option>
                    <option>Religiosa</option>
                    <option>Edificio público</option>
                </select>

            </div>
            <div class="col-md-5">

                <label for="architect">Arquitecto</label>
                <select class="custom-select" id="architect" name="architect">
                    <option selected value="{{works.architect.id}}">{{works.architect.name}}</option>
                    {{#each archs}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>

                <div class="row">
                    <div class="col-md-7">

                        <label for="country">País</label>
                        <input name="country" type="text" class="form-control" id="country" value="{{works.country}}">
                    </div>

                    <div class="col-md-5">

                        <label for="finishedin">Año de finalización</label>
                        <input name="finished" type="text" class="form-control" id="finishedin"
                            value="{{works.finished}}">
                    </div>

                </div>

                <input type="file" class="upload-file" id="customFile" name="photo-work">
            </div>
        </div>
        <div class=" row justify-content-center">
            <div class="col-md-10">

                <label for="address">Dirección</label>
                <input name="address" type="text" class="form-control" id="address" value="{{works.address}}">

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">

                <label for="description">Descripción</label>
                <textarea name="description" id="description" rows="5"
                    class="form-control">{{works.description}}</textarea>

            </div>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="my-button main filled">Guardar cambios</button>
        </div>
    </form>
    {{!-- <small>*Año de finalización</small> --}}
    <a href="/works" class="my-button nolined">Cancelar y volver</a>
    
</section>