<h2>{{works.name}}</h2>

<div class="row">
    {{!-- LOL HACKY ASS SHIT --}}
    <div id="workId" style="display: none;">{{_id}}</div>
    <div class="col-6">
        <p>Obra de: <a href="/architects/view/{{works.architect.id}}">{{works.architect.name}}</a></p>
        <p>Tipo de obra: {{works.workType}}</p>
        <p>Year: {{works.finished}}</p>
        <p>Descripción: {{works.description}}</p>
        <p>Corriente arquitectónica: <a href="/trend/show/{{works.trend.id}}">{{works.trend.name}}</a></p>
        <p>Dirección: {{works.address}}</p>
        <div class="d-flex justify-content-left">
            <a href="/works/edit/{{works.id}}" class="btn btn-dark">Editar</a>
            <form action="/works/delete/{{works.id}}" method="post">
                <button type="submit" class="btn btn-danger">Borrar</button>
            </form>
        </div>
    </div>

    <div class="col-6">
        <img src="{{works.picWork}}" alt="{{works.name}}" class="detail-img">
        <figure id="workMap"></figure>
    </div>
    <h2>Comentarios</h2>
    <div class="row">

        <form action="/works/post-comment/{{works.id}}" method="POST">

            <label for="subject">Asunto</label>
            <input type="text" name="subject" id="subject" class="form-control">

            <label for="comment">Deja tu comentario</label>
            <textarea class="form-control" id="comment" rows="4" cols="100" name="content"></textarea>

            <button type="submit">Guardar comentario</button>

        </form>

    </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBCqsxYcgOHcgyFouDoMyFFIFYtj3tHG0&callback=startMap"></script>
</div>



<h2>Otros comentaron...</h2>

<div class="row">
    {{#each posts}}
    <div class="col-md-6">
        <h5>By: {{creatorId.username}}</h5>
        <h6>Dijo esto: {{subject}}</h6>
        <p>{{content}}</p>
    </div>
    <div class="d-flex justify-content-left align-items-center">
        <a href="/works/post-comment/edit/{{id}}" class="btn btn-dark">Editar</a>
        <form action="/works/post-comment/delete/{{id}}" method="post">
            <button type="submit" class="btn btn-danger">Borrar</button>
        </form>
    </div>
    {{/each}}
</div>