<div class="row">
    <div class="col-md-6">

        <h2>Nueva Obra arquitectónica</h2>

        <form action="/works" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name</label>
                <input name="name" type="text" class="form-control" id="name">
            </div>

            <div class="form-group">
                <label for="country">Country</label>
                <input name="where" type="text" class="form-control" id="cpuntry">
            </div>

            <div class="form-group">
                <label for="finishedin">Año de finalización</label>
                <input name="finished" type="text" class="form-control" id="finishedin">
            </div>

            <div class="custom-file form-group">
                <input type="file" class="custom-file-input btn" id="customFile" name="photo-work">
                <label class="custom-file-label" for="customFile">Foto de la obra</label>
            </div>

            <div class="form-group">
                <label for="work">Tipo de Obra</label>
                <select class="custom-select" id="work" name="workType">
                    <option selected disabled value="">Elige tipo de obra...</option>
                    <option>Parque</option>
                    <option>Espacio Público</option>
                    <option>Vivienda</option>
                    <option>Religiosa</option>
                    <option>Edificio público</option>
                </select>
            </div>

            <div class="form-group">
                <label for="description">Descripción</label>
                <input name="description" type="text" class="form-control" id="description">
            </div>


            <div class="form-group">
                <label for="trend-arch">Corriente Arquitectónica</label>
                <select class="custom-select" id="trend-arch" name="trend">
                    <option selected disabled value="">Elige corriente...</option>
                    {{#each trends}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="architect">Obra de:</label>
                <select class="custom-select" id="architect" name="architect">
                    <option selected disabled value="">Elige un arquitecto...</option>
                    {{#each archs}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="address">Dirección</label>
                <input name="address" type="text" class="form-control" id="address" placeholder="Introduzca una dirección postal">
            </div>

            <button type="submit" class="btn btn-dark btn-block btn-lg">Submit</button>

            {{#if errorMsg}}
            <div id="errorMsg">{{{errorMsg}}}</div>
            {{/if}}

        </form>
    </div>
</div>