<h2>{{name}}</h2>

<div class="row">
    {{!-- LOL HACKY ASS SHIT --}}
    <div id="workId" style="display: none;">{{_id}}</div>
    <div class="col-6">
        <p>Obra de: <a href="/architects/view/{{architect.id}}">{{architect.name}}</a></p>
        <p>Tipo de obra: {{workType}}</p>
        <p>Year: {{finished}}</p>
        <p>Descripción: {{description}}</p>
        <p>Corriente arquitectónica: <a href="/trend/show/{{trend.id}}">{{trend.name}}</a></p>
        <p>Dirección: {{address}}</p>
        <div class="d-flex justify-content-left">
            <a href="/works/edit/{{_id}}" class="btn btn-dark">Editar</a>
            <form action="/works/delete/{{_id}}" method="post">
                <button type="submit" class="btn btn-danger">Borrar</button>
            </form>
        </div>
    </div>

    <div class="col-6">
        <img src="{{picWork}}" alt="{{name}}" class="detail-img">
        <figure id="workMap"></figure>
    </div>

</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBCqsxYcgOHcgyFouDoMyFFIFYtj3tHG0&callback=startMap"></script>