<section id="works-page">
    <h1 class="center">Índice de obras</h1>
    <h3 class="center">¿Crees que falta alguna?</h3>

    {{#if user}}
    <a class="my-button main filled" href="/works/new">Añadir obra</a>
    {{/if}}

    {{#unless user}}
    <a class="my-button main disabled" href="/login">Añadir</a>
    <small>Para poder añadir, es necesario iniciar sesión.</small>
    {{/unless}}

    <div class="row" id="all-cards">
        {{#each workFound}}
        <div class="work-card">

            <figure class="work-img">
                <img src="{{ picWork }}" alt="ArchitectureDB {{ name }}" />
            </figure>

            <div class="work-text">
                <h5 class="left">{{ name }}</h5>
                <h6 class="left">{{ architect.name }}</h6>
                <div class="btn-card">
                    <a class="my-button card filled" href="/works/show/{{ id }}">Ver detalles</a>
                    <div class="fav-btn">
                        <form action="/works/add-visited/{{id}}" method="post">
                            <input type="image" name="submit" alt="¡Ya lo he visitado!" src="/images/add-more.svg" s>
                        </form>
                        <form action="/works/add-wish/{{id}}" method="post">
                            <input type="image" name="submit" alt="Quiero visitarlo" src="/images/add-fav.svg" s>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        {{/each}}
    </div>
</section>