<section id="arch-dets">

  <header class="header d-flex flex-column justify-content-center align-items-center">
    <h1>{{arch.name}}</h1>
    <h3>¿Crees que falta algo o que algo está mal?</h3>

    {{#if user}}
    <a href="/architects/edit/{{arch.id}}" class="my-button main filled">Editar</a>
    <form action="/architects/delete/{{arch.id}}" method="post">
      <button type="submit" class="my-button nolined">Borrar</button>
    </form>
    {{/if}}

    {{#unless user}}
    <a class="my-button main disabled" href="/login">Editar</a>
    <small>Para poder editar, es necesario iniciar sesión.</small>
    {{/unless}}


  </header>


  <div class="row first-part">

    <figure class="col-md-4">
      <img src="{{arch.photo}}" alt="{{arch.name}}">
    </figure>

    <div class="col-md-8">
      <h4>{{arch.name}}</h4>
      <h5>{{arch.country}}</h5>
      <h6>{{arch.flagshipWork}}</h6>
      <p>
        {{#each works}}
        <a href="/works/show/{{id}}">{{name}} |</a>
        {{/each}}
      </p>
    </div>
  </div>


  <div class="comment-section">

    <h4>¿Qué opinas de este arquitecto?</h4>

    <form action="/architects/post-comment/{{arch.id}}" method="POST">

      <input type="text" name="subject" id="subject" class="form-control" placeholder="Asunto">

      <textarea class="form-control" id="comment" rows="4" cols="100" name="content"
        placeholder="Cuéntanos qué opinas..."></textarea>

      <button type="submit" class="my-button card filled">Publicar comentario</button>

    </form>

    <div class="post-area">
      {{#each posts}}
      <div class="each-post">
        <h5>{{subject}}</h5>
        <h6><em>By: {{creatorId.username}}</em></h6>
        <p>{{content}}</p>

        <div class="d-flex justify-content-left align-items-center">
          <form action="/architects/post-comment/delete/{{id}}" method="post">
            <input type="hidden" value="{{postedIn}}" name="reference">
            <button type="submit" class="my-button outlined mini">Borrar</button>
          </form>
        </div>

      </div>
      {{/each}}
    </div>

  </div>

</section>