<section class="form-page">

  <h2>Editar "{{name}}"</h2>

  <form action="/architects/edit/{{_id}}" method="POST" enctype="multipart/form-data">

    <label for="name">Nombre</label>
    <input name="name" type="text" class="form-control" id="name" value="{{name}}">

    <label for="country">País de procedencia</label>
    <input name="country" type="text" class="form-control" id="country" value="{{country}}">

    <label for="flagship-work">Obra más conocida</label>
    <input name="flagshipWork" type="text" class="form-control" id="flagship-work" value="{{flagshipWork}}">

    <input type="file" class="upload-file" name="photo-arch" value="{{photo}}">
    <div class="row justify-content-center">
      <button type="submit" class="my-button main filled">Guardar cambios</button>
    </div>
    {{#if errorMsg}}
    <div id="errorMsg">{{{errorMsg}}}</div>
    {{/if}}

  </form>
  <a href="/architects" class="my-button nolined">Cancelar y volver</a>

</section>