<div class="row justify-content-center">
  <div class="col-md-6 justify-content-center">
    <h2>Edit {{name}}</h2>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-6">
    <form action="/architects/edit/{{_id}}" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Name</label>
        <input name="name" type="text" class="form-control" id="name" value="{{name}}">
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input name="country" type="text" class="form-control" id="country" value="{{country}}">
      </div>
      <div class="form-group">
        <label for="flagship-work">Flagship work</label>
        <input name="flagshipWork" type="text" class="form-control" id="flagship-work" value="{{flagshipWork}}">
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input btn" id="customFile" name="photo-arch">
        <label class="custom-file-label" for="customFile">Foto Obra más famosa</label>
      </div>
      <button type="submit" class="btn btn-dark btn-block btn-lg">Guardar cambios</button>

      {{#if errorMsg}}
      <div id="errorMsg">{{{errorMsg}}}</div>
      {{/if}}

    </form>
  </div>
</div>