<section id="arch-page">
  <h1 class="center">Índice de arquitectos</h1>
  <h3 class="center">¿Crees que falta algun@?</h3>
  {{#if user}}
  <a class="my-button main filled" href="/architects/create">Añadir arquitecto</a>
  {{/if}}

  {{#unless user}}
  <a class="my-button main disabled" href="/login">Añadir</a>
  <small>Para poder añadir, es necesario iniciar sesión.</small>
  {{/unless}}


  <div class="row" id="all-cards">
    {{#each architects}}
    <div class="card-dsg col-2">

      <figure class="card-img">
        <img src="{{photo}}" alt="{{name}}">
      </figure>

      <div class="card-text">
        <h5 class="center">{{name}}</h5>
        <small><em>{{country}}</em></small>
        <a class="my-button card filled" href="/architects/view/{{_id}}">Ver detalles</a>
      </div>

    </div>
    {{/each}}
  </div>

</section>