<section id="likes-page">
    <h1 class="center">Mis listas</h1>

    <div class="row">
        <div id="visites" class="my-list">
            <h5>Lugares en los que estuve</h5>

            <div id="to-wish" class="row ordering visit-list">
                <input type="hidden" class="listId" value={{visites.id}}>
                {{#each visites.likesId}}
                <div class="list-card like">
                    <input type="hidden" class="card-id" value="{{id}}">
                    <h5 class="center">{{ name }}</h5>
                    <form action="/list/delete/{{id}}" method="post">
                        <button type="submit" class="my-button outlined mini">Quitar</button>
                    </form>
                </div>
                {{/each}}
            </div>

            <button class="my-button outlined show-map" data-id="{{visites._id}}">Mostrar mapa</button>

        </div>

        <article id="wishes" class="my-list">

            <h5>Dónde me gustaría ir</h5>
            <div id="to-visited" class="row ordering wish-list">

                {{#each wishes.likesId}}
                <div class="list-card fav">
                    <input type="hidden" class="card-id" value="{{id}}">
                    <h5 class="center">{{ name }}</h5>
                    <form action="/list/delete/{{id}}" method="post">
                        <button type="submit" class="my-button outlined mini">Quitar</button>
                    </form>
                </div>
                {{/each}}
            </div>

            <button class="my-button outlined show-map" data-id="{{wishes._id}}">Mostrar mapa</button>

        </article>


    </div>

    <button class="my-button main filled" id="send-changes">Guardar listas</button>

    <article id="map-container">
        <button id="close-window" class="my-button outlined mini">Close</button>
        <div id="routes-map"></div>

        <select class="custom-select" id="travel-mode">
            <option value="WALKING">A pie</option>
            <option value="DRIVING">En coche</option>
            <option value="BICYCLING">En bicicleta</option>
        </select>

        <div class="d-flex justify-content-around">
            <button id="routeCalc" class="my-button mini outlined">Calcular ruta</button>
            <a href="#" id="routeUrl" class="my-button  mini outlined" target="_blank">Introducir ruta en Google
                Maps</a>
        </div>


    </article>


</section>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBCqsxYcgOHcgyFouDoMyFFIFYtj3tHG0&callback=startMapMulti"></script>
<script src="/javascripts/mapStyles.js"></script>
<script src="/javascripts/multipleGeoPoints.js"></script>
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
<script src="/javascripts/drag.js"></script>