<section id="likes-page">
    <h1 class="center">Mis listas</h1>

    <div class="row">
        <div id="likes" class="my-list" ondragenter="return dragEnter(event)" ondrop="return dragDrop(event)"
            ondragover="return dragOver(event)">
            <h5>Lugares en los que estuve</h5>

            <div class="row ordering">
                {{#each visites}}
                <div class="list-card like" id="{{id}}" draggable="true" ondragstart="return dragStart(event)">
                    <h5 class="center">{{ name }}</h5>
                    <form action="/list/delete/{{id}}" method="post">
                        <button type="submit" class="my-button outlined mini">Quitar</button>
                    </form>
                </div>
                {{/each}}
            </div>

        </div>

        <article id="favs" class="my-list" ondragenter="return dragEnter(event)" ondrop="return dragDrop(event)"
            ondragover="return dragOver(event)">

            <h5>Dónde me gustaría ir</h5>
            <div class="row ordering">

                {{#each wishes}}
                <div class="list-card fav" id="{{id}}" draggable="true" ondragstart="return dragStart(event)">
                    <h5 class="center">{{ name }}</h5>
                    <form action="/list/delete/{{id}}" method="post">
                        <button type="submit" class="my-button outlined mini">Quitar</button>
                    </form>
                </div>
                {{/each}}
            </div>

        </article>

    </div>

</section>
