<section id="likes-page">
    <h1 class="center">Mis listas</h1>

    <div class="row">
        <div id="visites" class="my-list">
            <h5>Lugares en los que estuve</h5>

            <div class="row ordering">
                {{#each visites.likesId}}
                <div class="list-card like">
                    <h5 class="center">{{ name }}</h5>
                    <form action="/list/delete/{{id}}" method="post">
                        <button type="submit" class="my-button outlined mini">Quitar</button>
                    </form>
                </div>
                {{/each}}
            </div>

            <button class="my-button outlined show-map" data-id="{{visites._id}}">Mostrar mapa</button>

        </div>

        <article id="wishes" class="my-list">

            <h5>Dónde me gustaría ir</h5>
            <div class="row ordering is-right">

                {{#each wishes.likesId}}
                <div class="list-card fav">
                    <h5 class="center">{{ name }}</h5>
                    <form action="/list/delete/{{id}}" method="post">
                        <button type="submit" class="my-button outlined mini">Quitar</button>
                    </form>
                </div>
                {{/each}}
            </div>

            <button class="my-button outlined show-map" data-id="{{wishes._id}}">Mostrar mapa</button>

        </article>

        <article>
            <div id="workMap" style="background-color: rebeccapurple; height: 500px; width: 600px;"></div>
        </article>

    </div>

</section>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBCqsxYcgOHcgyFouDoMyFFIFYtj3tHG0&callback=startMapMulti"></script>
<script src="/javascripts/mapStyles.js"></script>
<script src="/javascripts/multipleGeoPoints.js"></script>